* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "~font-awesome/css/font-awesome.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4e1d2;
  color: #e6a37c;
  box-sizing: border-box;
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
  padding: 6rem 5%;
}

.header {
  background: linear-gradient(45deg, #ee8778, #f9c196);
  padding: 6rem 5%;
  text-align: center;
}

.header > h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  text-align: center;
  color: #4a4a4a;
}

.nav {
  background-color: #ee867856;
  border: 1px solid rgba(128, 0, 128, 0.632);
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  margin-top: 5rem;
  font-size: x-large;
  gap: 20px;
}

.main {
  padding: 3rem 5%;
  display: grid;
  background-color: #f4e1d2;
  color: #563426;
  gap: 1.5rem;
}

.list {
  margin-top: 1rem;
  text-align: center;
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style-type: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
}

.fancybox {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 400px;
  max-height: 600px;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(135deg, #f9c196, #ee8778);
}

.fancybox::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.fancybox-title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3e3e5f;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 16px
}

.fancybox .metadata {
  font-size: 0.9rem;
  color: #bbbbbb;
  margin: 8px 16px;
  font-weight: 400;
  padding-top: 8px;
  border-top: 1px solid #e0e0e0;
}

.fancybox-body {
  padding: 0.5rem;
  color: #3e3e3e;
}

.fancybox-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border: 2px solid rgba(83, 4, 30, 0.978);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.articlebox {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(135deg, #f9c196, #ee8778);
}

.articlebox-title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3e3e5f;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem 0;
}

.articlebox-author-date {
  list-style-type: none;
  display: inline-block;
  font-size: 0.8rem;
  color: #563426df;
  margin: 0.5rem 0;
  font-weight: 400;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-top: 1px solid #780335;
  border-bottom: 1px solid #780335;
}

.articlebox-body {
  padding: 0.5rem;
  text-align: center;
  color: #3e3e3e;
  font-size: 1rem;
  line-height: 1.5;
}

.articlebox-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 2px solid rgba(83, 4, 30, 0.978);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.articlebox-social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1rem 0;
  font-size: medium;
  color: #888888;
}

.articlebox-social-icons > i {
  cursor: pointer;
}

.articlebox-social-icons > i:hover {
  color: #9a01b5;
}

.footer {
  background-color: #2e2e46;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}
